main_tutorial/.ipynb_checkpoints/*
main_tutorial/.ipynb_checkpoints
main_tutorial/.ipynb_checkpoints/
pre_tutorial/.ipynb_checkpoints
pre_tutorial/.ipynb_checkpoints/*
pre_tutorial/.ipynb_checkpoints/
data_analysis_tutorial/.ipynb_checkpoints
data_analysis_tutorial/.ipynb_checkpoints/*
data_analysis_tutorial/.ipynb_checkpoints/
*.pyc